.gallery-container {
  display: grid;
  margin-top: 10px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
  overflow: hidden;
}

.gallery-container img {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: contain;
}

/* Style the buttons */
.content .btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  margin: 2px 0;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}

/* Add a grey background color on mouse-over */
.content .btn:hover {
  background-color: #b10201;
  color: white;
}

/* Add a dark background color to the active button */
.content .btn.active {
  background-color: #d10100;
   color: white;
}

/* The "show" class is added to the filtered elements */
.gallery-container .show {
  display: block;
}

.image-container {
  position: relative;
}

.image-caption {
  color: white;
}

.image-container .image-caption {
  text-align: center;
  display: none;
  position: absolute;
  bottom: 4px;
  width: 100%;
  padding: 0px;
  background: rgba(200,0,0,.8);
}

.image-container:hover .image-caption {
  display: block
}
