#gallery {
  box-sizing: border-box;
}

#gallery h1 {
  font-size: 50px;
  word-break: break-all;
}

#gallery .row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
#gallery .row,
#gallery .row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
#gallery .column {
  float: left;
  width: 33.33%;
  display: none; /* Hide columns by default */
}

/* Clear floats after rows */
#gallery .row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
#gallery {
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
#gallery .show {
  display: block;
}

/* Style the buttons */
#gallery .btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}

/* Add a grey background color on mouse-over */
#gallery .btn:hover {
  background-color: #b10201;
  color: white;
}

/* Add a dark background color to the active button */
#gallery .btn.active {
  background-color: #d10100;
   color: white;
}

#gallery h4 {
  text-align: center;
  font-family: "Helvetica";
}
